.main{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.form{
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 44px 0;
    background-color: #998ea0;
}
.form label{
    margin-bottom: 10px;
    color: #fff;
}

.form input{
    margin-bottom: 30px;
    padding-block: 7px;
    width: 350px;
}
.form button{
    background-color: brown;
    padding: 11px 8px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: large;
    margin-bottom: 20px;
}