#dark {
    background-color: rgba(61, 57, 57, 0.918) ;
    color: white;
  }
  #dark input {
  color : white;
  background-color: rgba(61, 57, 57, 0.918);
  }
  
  #dark #btn {
    background-color: rgba(61, 57, 57, 0.918);
  }

  #dark section {
    border: 1px solid white;
  }

  #whiteBorder {
    border: 1px solid #fff;
  }

  